body,
html {
    height: 100vh;
    background: rgb(221, 193, 47);
    font-family: 'Poppins', sans-serif;
}

.day1 img,
.day2 img,
.day3 img,
.day4 img,
.day5 img,
.day6 img {
    height: 18vh;
}

.day1,
.day2,
.day3,
.day4,
.day5,
.day6 {
    background-color: #fff;
    border-radius: 10px;
}